html, body {margin: 0px; padding: 0px; min-width: 1000px;}
a {text-decoration: none; color: black;}
.clear {clear: both;}
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/
.clearfix {
    overflow: auto;
}

div.banner {
    height: 60px;
    text-align: center;
    /*border: 1px solid;*/
}
div.banner h2 {
    margin: 10px 0 10px;
}
div.line {
    height: 1px;
    margin: 0px;
    background-color: #b8b8b8;
}

.message {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    margin-left: -175px;
    width: 350px;
    /*height: 100px;*/
    box-shadow: 0px 0px 20px 2px #c8c8c8;
    background-color: #f8f8f8;
    border: solid 1px #c8c8c8;
    border-radius: 5px;
    z-index: 100;
    /*font-family: Georgia, serif;*/
}
.message p {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 20px;
    }
.message input {
    position: relative;
    left: 50%;
    margin-left: -25px;
    margin-bottom: 20px;
    width:50px;
    height:20px;
    text-align: center;
    border: solid 1px #808080;
    border-radius: 5px;
}

div.content {
    width: 80%;
    /*min-width: 800px;*/
    margin-left: 10%;
}

div.side-func {
    float: left;
    width: 20%;
    min-height: 600px;
    /*border: 1px solid;*/
}
form.upload {
    width: 100%;
    margin: 20px 0 20px;
    float: right;
    overflow: auto;
    /*border: 1px solid;*/
}
input.select-txt {
    width: 80%;
    float: right;
    margin: 0 0 10px;
    /*border: 1px solid;*/
}
input.upload-txt {
    width: 80%;
    float: right;
    clear: right;
    /*border: 1px solid;*/
}
.get-cover {
    margin: 20px 0 20px;
    float: right;
    clear: right;
}
.get-cover a {
    height: 40px;
    margin: 5px 0px 5px;
    border: 1px solid;
}

div.side-content {
    float: right;
    width: 75%;
    min-width: 600px;
}

.book-edit-func li, .clip-edit-func li {
    display: inline;
}
.book-edit-func li a, .clip-edit-func li a {
    font-size: 8px;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #e8e8e8;
}
.book-edit-func li a:hover, .clip-edit-func li a:hover {
    background-color: #42a5f5;
    color: white;
}
li.pipe {
    margin-left: 5px;
    margin-right: 5px;
    color: #e8e8e8;
}
div.book-edit-func ul {padding: 0px;}
ul.order {float: left;}
ul.cover {float: left;}
ul.layout {float: left;}

div.booklist, div.cliplist {
    min-height: 100px;
    margin: 10px 0px;
}
a.book-board-link {
    margin: 0px 0px 20px 0px;
    padding: 5px;
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    display: block;
    transition: 0.1s;
    box-shadow: 0px 1px 2px #b8b8b8;
}
a.book-board-link:hover {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px #b8b8b8;
}
.cover-container {
    float: left;
    margin: 5px 0px;
    width: 100px;
    height: 100px;
}
.cover-container img {
    text-align: center;
    width: 100px;
    height: 100px;
}
.title-container {
    position: relative;
    margin: 5px 10px 5px 120px;
}
.title-container p {
    margin: 0px 80px 0px 0px;
    text-align: justify;
}
.title-container ul {
    float: right;
    list-style-type: none;
    margin: -4px 0px 0px 0px;
    padding: 0px;
}
.title-container li {
    font-size: 8px;
    color: gray;
}

.pagination ul {
    /*list-style-type: none;*/
    padding: 0px;
}
.pagination li {
    display: inline;
    margin-right: 10px;
}
.pagination a {
    padding: 0px 5px;
}
.pagination .num_focus a {
    background-color: #e8e8e8;
    border-radius: 5px;
}
.pagination a:hover {
    font-weight: bold;
    color: darkblue;
}

.cliplist-mark {
    float: left;
    width: 75%;
}
div.clip-board {
    margin: 0px 0px 20px 0px;
    padding: 5px;
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    transition: 0.1s;
    box-shadow: 0px 1px 2px #d8d8d8;
}
div.clip-board:hover {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px #b8b8b8;
}
div.clip-board p {
    margin: 5px 0px;
}
.note-of-clip {
    color: gray;
    font-weight: bold;
}
.label, .clip-edit-func {
    margin: 5px 0px;
    padding: 0px 5px;
    color: gray;
}
.label li {
    display: inline;
    margin: 0px 20px 0px 0px;
    font-size: 8px;
}

.marks {
    float: left;
    width: 25%;
}
.mark-title {
    margin: 0px 0px 10px 22px;
}
.mark {
    margin: 10px 0px 10px 22px;
    padding: 5px;
    background-color: #e8e8e8;
    box-shadow: 0px 1px 2px gray; 
    transition: 0.1s;
}
.mark:hover {
    box-shadow: 0px 4px 6px gray;
}
.mark p {
    margin: 4px 0px;
    font-size: 6px;
    color: black;
    line-height: 100%;
}

footer {
    height: 100px;
    text-align: center;
}
