html, body {margin: 0px; padding: 0px;}
a {text-decoration: none; color: black;}
.clear {clear: both;}

div.banner {
    height: 60px;
    text-align: center;
    /*border: 1px solid;*/
}
div.banner h2 {
    margin: 10px 0 10px;
}
div.line {
    height: 1px;
    margin: 0px;
    background-color: #b8b8b8;
}

.message {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    margin-left: -175px;
    width: 350px;
    /*height: 100px;*/
    box-shadow: 0px 0px 20px 2px #c8c8c8;
    background-color: #f8f8f8;
    border: solid 1px #c8c8c8;
    border-radius: 5px;
    z-index: 100;
    /*font-family: Georgia, serif;*/
}
.message p {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 20px;
    }
.message input {
    position: relative;
    left: 50%;
    margin-left: -25px;
    margin-bottom: 20px;
    width:50px;
    height:20px;
    text-align: center;
    border: solid 1px #808080;
    border-radius: 5px;
}

div.content {
    width: 80%;
    margin-left: 10%;
}

div.side-func {
    float: left;
    width: 20%;
    min-height: 600px;
    /*border: 1px solid;*/
}
form.upload {
    width: 100%;
    margin: 20px 0 20px;
    float: right;
    overflow: auto;
    /*border: 1px solid;*/
}
input.select-txt {
    width: 80%;
    float: right;
    margin: 0 0 10px;
    /*border: 1px solid;*/
}
input.upload-txt {
    width: 80%;
    float: right;
    clear: right;
    /*border: 1px solid;*/
}
.get-cover {
    margin: 20px 0 20px;
    float: right;
    clear: right;
}
.get-cover a {
    height: 40px;
    margin: 5px 0px 5px;
    border: 1px solid;
}

div.side-content {
    float: right;
    width: 75%;
}

div.book-edit-func li {
    display: inline;
}
div.book-edit-func li a {
    font-size: 12px;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #e8e8e8;
}
div.book-edit-func li a:hover {
    background-color: #42a5f5;
    color: white;
}
li.pipe {
    margin-left: 5px;
    margin-right: 5px;
    color: #e8e8e8;
}
div.book-edit-func ul {padding: 0px;}
ul.order {float: left;}
ul.cover {float: left;}
ul.layout {float: left;}

div.booklist {
    min-width: 400px;
    min-height: 100px;
    margin: 10px 0px;
    /*border: 1px solid;*/
}
div.book-board {
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
}
.clearfix  {
    overflow: auto;
}
div.book-board a {
    float: left;
    display: inline;
    /*margin: 0px;
    padding: 0px;*/
}
div.book-board a img {
    width: 100px;
    height: 135px;
}

footer {
    height: 100px;
    text-align: center;
}
