{% extends "base.html" %}

{% block content %}
<div class="side-func">
    <a class="goback" href="{{ url_for('index') }}">返回书籍列表</a>
    {% if title %}
    <div class="book">
        <img class="image" src="" alt="{{ title }}">
        <p>{{ title }}</p>
    </div>
    {% endif %}
</div>

<div class="side-content clips">
    <div class="cliplist">
        {% for clip in clips %}
        <div class="clip-board">
            {% if clip.clipcnt %}
            <p>{{ clip.clipcnt }}</p>
            {% if clip.notecnt %}
            <p class="note-of-clip">笔记：</span></p>
            <div class="line clear"></div>
            <p>{{ clip.notecnt }}</p>
            {% endif %}
            {% endif %}
            <div class="line clear"></div>
            <ul class="label">
                <li>位置：{{ clip.pos }}</li>
                <li>添加时间：{{ clip.time }}</li>
            </ul>
            <div class="line clear"></div>
            <ul class="clip-edit-func">
                <li><a href="">编辑笔记</a></li>
                <li><a href="">文本分享</a></li>
                <li><a href="">图片分享</a></li>
            </ul>
        </div>
        {% else %}
        <div class="emptyclip">
            <p>没有任何标注。</p>
        </div>
        {% endfor %}
    </div>
    <div cliss="marks">
        {% for mark in marks %}
        <div>
            <p>{{ mark.pos }}</p>
            <p>{{ mark.time }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
