{% extends "base.html" %}

{% block content %}
<div class="side-func">
    <!--文件上传：Flask-wtf & Flask-uploads插件实现-->
    <p>'My Clippings.txt'文件上传</p>
    <form class="upload" action="/upload" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.clipsfile(class="select-txt") }}
        {{ form.submit(class="upload-txt") }}
        <!--<input class="select-txt" type="file" name="txt_file">
        <input class="upload-txt" type="submit" value="上传">-->
    </form>
    <div class="line clear"></div>

    
    <div class="get-cover">
        <a href="/api/getcover">获取封面</a>
    </div>
</div>

<div class="side-content books">
    <div class="book-edit-func">
        <ul class="order">
            <li><a href="">正序</a></li>
            <li><a href="">倒序</a></li>
        </ul>
        <ul class="cover">
            <li class="pipe">|</li>
            <li><a href="">隐藏封面</a></li>
            <li><a href="">显示封面</a></li>
        </ul>
        <ul class="layout">
            <li class="pipe">|</li>
            <li><a href="">列表</a></li>
            <li><a href="">网格</a></li>
        </ul>
    </div>
    <div class="line clear"></div>
    <div class="booklist">
        <p>You are looking at page: {{ page }}</p>

        {% for book in books %}
        <a class="book-board-link" href="{{ url_for('show_clips', book_id=book.id, page=page) }}">
            <div class="book-board-container clearfix">
                <div class="cover-container">
                    <img class="image" src="" alt="{{ book.title }}">
                </div>
                <div class="title-container">
                    <ul>
                        <li>标注数：{{ book.clipnum }}</li>
                        <li>笔记数：{{ book.notenum }}</li>
                        <li>书签数：{{ book.marknum }}</li>
                    </ul>
                    <p>{{ book.title }}</p>
                    <p style="font-size: 8px; color: gray;">By: {{ book.author }}</p>
                </div>
            </div>
        </a>
        {% else %}
        <div class="book-board">
            <p>OPPS, there is nothing here.</p>
        </div>
        {% endfor %}

        <!--pagination-->
        {% if page_count != 0 %}
        <div class="pagination">
            <ul>
                <li>{{ page }}/{{ page_count }}</li>
                {% if page <= 1 %}
                <li><a class="prev inactive">&lt;&lt;上一页</a></li>
                <li><a class="next" href="{{ url_for('index', page=page+1) }}">下一页&gt;&gt;</a></li>
                {% elif page < page_count %}
                <li><a class="prev" href="{{ url_for('index', page=page-1) }}">&lt;&lt;上一页</a></li>
                <li><a class="next" href="{{ url_for('index', page=page+1) }}">下一页&gt;&gt;</a></li>
                {% else %}
                <li><a class="prev" href="{{ url_for('index', page=page-1) }}">&lt;&lt;上一页</a></li>
                <li><a class="next inactive">下一页&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
     
{% endblock %}
