{% macro paginate_arrow(page_num, page, route_func) %}
{# parameters ->
page_num: numbers of pagination;
page: the page users are visiting;
route_func: route map function passed to 'url_for' method,
            and it should has a parameter 'page'.
pagination style ->
'page/page_num  <<上一页  下一页>>' #}
<div class="pagination">
    <ul>
        <li class="inactive">{{ page }}/{{ page_num }}</li>
        {% if page <= 1 %}
        <li class="prev inactive">&lt;&lt;上一页</li>
        <li class="next"><a href="{{ url_for(route_func, page=page+1) }}">下一页&gt;&gt;</a></li>
        {% elif page < page_num %}
        <li class="prev"><a href="{{ url_for(route_func, page=page-1) }}">&lt;&lt;上一页</a></li>
        <li class="next"><a href="{{ url_for(route_func, page=page+1) }}">下一页&gt;&gt;</a></li>
        {% else %}
        <li class="prev"><a href="{{ url_for(route_func, page=page-1) }}">&lt;&lt;上一页</a></li>
        <li class="next inactive">下一页&gt;&gt;</li>
        {% endif %}
    </ul>
</div>
{% endmacro %}

{% macro paginate_num(page_num, page, route_func, side=2, length=10) %}
{# parameters ->
page_num: numbers of pagination;
page: the page users are visiting;
route_func: route map function passed to 'url_for' method,
            and it should has a parameter 'page';
side: number of digits shown on either side of above 'page';
length: the maximum number of digits you want show.
pagination style ->
(asume page_num = 6)
> '1 2 3 4 5 6'
(asume page_num = 20)
> '1 2 3 4 (5) 6 7 ... 20' 
> '1 ... 8 9 (10) 11 12 ... 20'
> '1 ... 14 15 (16) 17 18 19 20'#}
<div class="pagination">
    <ul>
    {% if page_num <= length %}
        {% for idx in range(1, page_num + 1) %}
        {% if idx == page %}
        <li class="num_focus"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% else %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% endif %}
        {% endfor %}
    {% elif page <= side + 3 %}
        {% for idx in range(1, page + side + 1) %}
        {% if idx == page %}
        <li class="num_focus"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% else %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% endif %}
        {% endfor %}

        <li class="num_nav">...</li>
        <li class="num_nav"><a href="{{ url_for(route_func, page=page_num) }}">{{ idx }}</a></li>
    {% elif page >= page_num - side - 2 %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=1) }}">{{ idx }}</a></li>
        <li class="num_nav">...</li>

        {% for idx in range(page - side, page_num + 1) %}
        {% if idx == page %}
        <li class="num_focus"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% else %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% endif %}
        {% endfor %}
    {% else %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=1) }}">{{ idx }}</a></li>
        <li class="num_nav">...</li>

        {% for idx in range(page - side, page + side + 1) %}
        {% if idx == page %}
        <li class="num_focus"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% else %}
        <li class="num_nav"><a href="{{ url_for(route_func, page=idx) }}">{{ idx }}</a></li>
        {% endif %}
        {% endfor %}

        <li class="num_nav">...</li>
        <li class="num_nav"><a href="{{ url_for(route_func, page=page_num) }}">{{ idx }}</a></li>
    {% endif %}
    </ul>
</div>
{% endmacro %}
